body
{
	max-width: 50%;
	margin: auto;
	background-color: whitesmoke;
    height: 960px;
    text-indent: 10px;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    background: url("header.jpg") ;
    background-size: cover;
    height: 350px;
    color: #ffffff;
    text-align: left;
    margin: 10px;
    text-indent: 10px;
    line-height: 1.6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
	background: url("bg.jpg");
    background-size: 500px;
}

body footer{
    margin: 10px;
    position: absolute;
    bottom: 0;
    left: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}